body {
  margin: 0;
  background-image: url("img/back.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.container {
  background-color: #fff;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  border: 1px solid lightgray;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
  /* position: absolute;의 기준이 되는 부모 */
}

.task-tabs div {
  padding: 1em;
}

#underline {
  height: 4px;
  background-color: rgb(225, 213, 251);
  position: absolute;
  width: 55px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}
